<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
  <h2 style="text-align: center; font-family: Arial, sans-serif;">RSI Results</h2>

  <!-- Table to display RSI results -->
  <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
    <thead>
      <tr style="background-color: #f2f2f2;">
        <th style="padding: 10px; text-align: left; border: 1px solid #ddd; font-size: 16px;">Stock</th>
        <th style="padding: 10px; text-align: left; border: 1px solid #ddd; font-size: 16px;">RSI Value</th>
        <th style="padding: 10px; text-align: left; border: 1px solid #ddd; font-size: 16px;">Close Prices</th>
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
        <tr>
          <td style="padding: 10px; border: 1px solid #ddd;">{{ result.stock }} <h4>Epic:{{ result.epic_key }} </h4></td>
          
          <!-- Check if error exists and display error message -->
          {% if result.error %}
            <td colspan="2" style="padding: 10px; border: 1px solid #ddd; color: red; text-align: center;">
              {{ result.error }}
            </td>
          {% else %}
            <td style="padding: 10px; border: 1px solid #ddd;">{{ result.rsi_value }}</td>
            <td style="padding: 10px; border: 1px solid #ddd;">
              <!-- Displaying close prices with styling -->
              {% for price in result.close_price_data %}
                <span style="background-color: green; color: white; padding: 3px 7px; border-radius: 10px; margin: 5px; display: inline-block;">
                  {{ price }}
                  

                </span>{% if not loop.last %}<span>, </span>{% endif %}
              {% endfor %}
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
{% endblock %}
